<div id="main">

    {% extends 'expense/base.html' %}{%load crispy_forms_tags%} {% block content %}{{block.super}}
    <div style="margin-top:5%" class="container">


        {% if expenses %}
        <div class="card">
            <div class="card-header">
                Total Income
            </div>
            <div class="card-body">
                {{currencyIncome}}
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Total Expenses
            </div>
            <div class="card-body">
                {{currencyExpense}}
            </div>
        </div>
        <table id="" class="table table-bordered">
            <thead class="alert-success">
                <tr>
                    <th style="display:none"> </th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Date</th>

                </tr>
            </thead>
            <tbody>
                {% for post in expenses %}
                <tr>
                    <td style="display:none"></td>
                    <td>{{ post.add_money }}</td>
                    <td>{{ post.Category.name }}</td>
                    <td>{{ post.quantity }}</td>
                    <td>{{ post.Date|date }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {%endif%}
</div>
{%endblock%}